.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-self: center;
    border: 2px solid black;
}

.cats {
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.wrapper {
    justify-content: space-evenly;

}